<head>  <link rel="stylesheet" href="https://use.typekit.net/bxx3rsq.css"> </head>

<body>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg static-top navbar-light" style="background-color: #FFCC33;">

    <div class="container">
      <a class="navbar-brand" href="/birds" style="font-family: p22-franklin-caslon, sans-serif;">Sightings</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/birds">All sightings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="birds/new">Add a bird</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


<div class="container-fluid">
  <div class="row no-gutter">

    <div class="col-md-8 col-lg-6" style="background-color: white";>
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">

              <!-- <h3 class="login-heading mb-4">Sightings</h3> -->

              <p style="font-weight: bold">Recent sightings</p> 
              Click author to see their posts
              <div class="form-label-group">
                <div id="birds">

                  <% @birds.each do |bird| %>
                    <div class="bird">
                      <%= link_to bird.title, bird_path(bird) %>,
                      author: <%= link_to bird.user.email, 
                      user_birds_path(bird.user) %>,
                      category: 

                      <% ids = bird.category_ids %>
                      <% categories = Category.find(ids) %>
                      <% categories.each do |category| %>
                      <%= category.name %>
                      <% end %>

                    </div>
                  <% end %>
                </div><BR>
                </div>

                <div class="form-label-group">
                  <div id="categories">
                  <p style="font-weight: bold">Search by category</p> 
                  Enter Air, Land, Water or Other
                  <%= form_tag("/birds", method: "get") do %> 
                  <%= text_field_tag(:category_name) %>
                  <%= submit_tag("Search") %>
                  <% end %>
                </div>
                </div>

                <%= link_to 'Back', :back %>
                <div class="custom-control custom-checkbox mb-3">
                </div>

            </div>
          </div>
        </div>
      </div>  
    </div>

    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Map goes here</h3>

                <div class="form-label-group">
                </div>

                <div class="form-label-group">
                </div>

                <div class="custom-control custom-checkbox mb-3">
                </div>

            </div>
          </div>
        </div>
      </div>  
    </div>
  
  </div>
</div>
</body>